/* ========================= SMARTPHONE  + GENERAL========================= */

a, a:hover {
    color: black;
    text-decoration: none;
}



/* ========== HEADER ========== */
.firstLine {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-bottom: solid grey 2px;
	box-shadow: 0 5px 15px grey;
}


.title {
	order: 2;
}

.respMainNav {
	order: 1;
}

.respCart {
	order: 3;	
}

.chaussetChoose {
	background: lightgrey;
	border-radius: 5px 5px 0 0;
	width: 15%;
	margin: 5px;
}




/* ========== NAV MAIN ========== */
nav.mainNavigation {
    display: flex;
    
}


/* ========== NAV SECONDARY ========== */
.chooseTaille {
	position: fixed;
	right: 5px; 
	z-index: 5;
	align-items: center;
	padding: 5px;
	margin: 5px;
}

.taille {
	border: solid grey 1px;
	border-radius: 5px;
	background-color: lightgrey;
	color: grey;
	padding: 5px;
	margin: 5px;
}

.taille:hover {
    background-color: black;
    color: white;
}

.taille:first-child {
	background-color: black;
	color: white;
}

/* ========== MAIN ========== */
.chaussettes {
	padding: 20px;
    padding-bottom:0px;
}


.prix {
	width: 50px;
	border: solid grey 1px;
	border-radius: 5px;
	background-color: lightgrey;
	color: grey;
	padding: 2px;
	margin: 2px;
	position: absolute;
	right:0;
}

figure {
	box-shadow: 0px 10px 5px grey;
}

.ctContainer {
 	display: flex;
}

.cttCont {
        margin-top: 0;
        margin-botom: 0;
        margin-left: 5px;
        margin-right: 5px;
        padding: 5px;
        border-radius: 0 0 3px 3px;
        background-color: orange;
        color: white;
        font-size: 10px;
		width: 20px;
		height: 40px;
		transition-property : bottom, transform;
    	transition-duration : 0.5s, 1.5s, 0.75s, 0.75s;
    	transition-delay : 0.05s, 0s, 1s, 1s;
    	transition-timing-function : ease-out,linear, ease-in-out, ease-in-out;
}
.cttCont:hover {
	height: 50px;s

p.chaussTaille {
	margin: 0;
	padding:0;
	display: block;
}

hr, br {
 	margin: 0;
	padding: 0;

 }




/* ======================== TABLETS ========================= */
@media (min-width: 768px) {

}

/* ========================= PC PORTABLE ========================= */
@media (min-width: 992px) {

.title {
	order: 0;
}
	
.chooseTaille {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 5px;
	margin: 5px;
}

.title {
	order: 1;
}

.respMainNav {
	order: 2;
}

.respCart {
	order: 3;	
}


/* ========================= PC OFFICE ========================= */
@media (min-width: 1200px) {

}





